body{
  /* text-align: center; */
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background: darkviolet;
}

.app-header{
  display: flex;

}

.default-btn{
  padding: 8px; 
  width : 100px; 
  margin : 5px;
  border-radius: 3px;
  border: none;
}

.selected-btn{
  padding: 8px; 
  width : 100px; 
  margin : 5px; 
  border: 0;
  border-radius: 3px;
  background:deeppink;
  color : white;
}

.selected-btn ::selection{
  border: none;
}

.suggested-list{
  display: flex;
  flex-direction: column;
}

.suggested-item{
  width: 280px;
  align-self: center;
  margin: 3px;
  font-size: larger;
  border: 2px solid darkgray;
  padding: 1rem;
  border-radius: 5px;
  color: white;
}

.destination{
  font-weight : bold;
  font-style:italic;
}